src/models/CLIP
__pycache__/
src/prev code.py
src/run_co3d.py
.DS_Store
Datasets/objects/*
Datasets/data/*
Datasets/newdata/*
Datasets/backgrounds/*
Datasets/output_images/
Datasets/zrs_output/*
Datasets/school_bus.gif
Datasets/school_bus_light.gif
Datasets/test.gif
Datasets/power_drill
Datasets/cma-es-report.pdf
Datasets/.DS_store
Datasets/gridplots
Datasets/temp_images/*
Datasets/wrongpredgrid/*
Datasets/model_vs_human
Datasets/createdata.py
Datasets/split180images.py
Datasets/split_IN_val.py
Datasets/seperate_CO3d.py
Datasets/run_model.py
Datasets/run_all_models.py
Datasets/setup.py
Datasets/grid_plot.py
Datasets/create_videos.py
Datasets/CO3D_generate_rot_both.py
Datasets/prev_code.py
Datasets/in-plane-samples/
Datasets/out-of-plane-samples/
Datasets/requirements.txt
Datasets/gpu_info.json
Datasets/test_pose360.py
